java-environment/src/dtd2java/XMI4MOF.dtd

<?xml version="1.0" encoding="UTF-8"?> 
<!нн Generated by: XMI Framework 1.0 нн> 
<!нн Date: Mon Oct 25 17:35:30 PDT 1999 нн> 
<!нн _______________________________________________________________ нн> 

<!нн нн> 
<!нн This section of the DTD contains XML declarations required by нн> 
<!нн XMI. нн> 
<!нн _______________________________________________________________ нн> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI is the topнlevel XML element for XMI transfer text нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI (XMI.header?, XMI.content?, XMI.difference*, 
XMI.extensions*) > 
<!ATTLIST XMI 
xmi.version CDATA #FIXED ``1.1'' 
timestamp CDATA #IMPLIED 
verified (true | false) #IMPLIED 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.header contains documentation and identifies the model, нн> 
<!нн metamodel, and metametamodel нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.header (XMI.documentation?, XMI.model*, XMI.metamodel*, 
XMI.metametamodel*, XMI.import*) > 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн documentation for transfer data нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.documentation (#PCDATA | XMI.owner | XMI.contact | 
XMI.longDescription | XMI.shortDescription | 
XMI.exporter | XMI.exporterVersion | 
XMI.notice)* > 
<!ELEMENT XMI.owner ANY > 
<!ELEMENT XMI.contact ANY > 
<!ELEMENT XMI.longDescription ANY > 
<!ELEMENT XMI.shortDescription ANY > 
<!ELEMENT XMI.exporter ANY > 
<!ELEMENT XMI.exporterVersion ANY > 
<!ELEMENT XMI.exporterID ANY > 
<!ELEMENT XMI.notice ANY > 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.element.att defines the attributes that each XML element нн> 
<!нн that corresponds to a metamodel class must have to conform to нн> 
<!нн the XMI specification. нн> 
<!нн _______________________________________________________________ нн> 
<!ENTITY % XMI.element.att 

`xmi.id ID #IMPLIED xmi.label CDATA #IMPLIED xmi.uuid 
CDATA #IMPLIED ` > 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.link.att defines the attributes that each XML element that нн> 
<!нн corresponds to a metamodel class must have to enable it to нн> 
<!нн function as a simple XLink as well as refer to model нн> 
<!нн constructs within the same XMI file. нн> 
<!нн _______________________________________________________________ нн> 
<!ENTITY % XMI.link.att 
`href CDATA #IMPLIED xmi.idref IDREF #IMPLIED xml:link 
CDATA #IMPLIED xlink:inline (true | false) #IMPLIED 
xlink:actuate (show | user) #IMPLIED xlink:contentнrole 
CDATA #IMPLIED xlink:title CDATA #IMPLIED xlink:show 
(embed | replace | new) #IMPLIED xlink:behavior CDATA 
#IMPLIED' > 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.model identifies the model(s) being transferred нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.model ANY > 
<!ATTLIST XMI.model 
%XMI.link.att; 
xmi.name CDATA #REQUIRED 
xmi.version CDATA #IMPLIED 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.metamodel identifies the metamodel(s) for the transferred нн> 
<!нн data нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.metamodel ANY > 
<!ATTLIST XMI.metamodel 
%XMI.link.att; 
xmi.name CDATA #REQUIRED 
xmi.version CDATA #IMPLIED 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.metametamodel identifies the metametamodel(s) for the нн> 
<!нн transferred data нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.metametamodel ANY > 
<!ATTLIST XMI.metametamodel 
%XMI.link.att; 
xmi.name CDATA #REQUIRED 

xmi.version CDATA #IMPLIED 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.metametamodel identifies other files associated with the нн> 
<!нн transferred data нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.import ANY > 
<!ATTLIST XMI.import 
%XMI.link.att; 
xmi.name CDATA #REQUIRED 
xmi.version CDATA #IMPLIED 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.content is the actual data being transferred нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.content ANY > 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.extensions contains data to transfer that does not conform нн> 
<!нн to the metamodel(s) in the header нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.extensions ANY > 
<!ATTLIST XMI.extensions 
xmi.extender CDATA #REQUIRED 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн extension contains information related to a specific model нн> 
<!нн construct that is not defined in the metamodel(s) in the header нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.extension ANY > 
<!ATTLIST XMI.extension 
%XMI.element.att; 
%XMI.link.att; 
xmi.extender CDATA #REQUIRED 
xmi.extenderID CDATA #IMPLIED 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.difference holds XML elements representing differences to a нн> 
<!нн base model нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.difference (XMI.difference | XMI.delete | XMI.add | 

XMI.replace)* > 
<!ATTLIST XMI.difference 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.delete represents a deletion from a base model нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.delete EMPTY > 
<!ATTLIST XMI.delete 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.add represents an addition to a base model нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.add ANY > 
<!ATTLIST XMI.add 
%XMI.element.att; 
%XMI.link.att; 
xmi.position CDATA ``н1'' 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.replace represents the replacement of a model construct нн> 
<!нн with another model construct in a base model нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.replace ANY > 
<!ATTLIST XMI.replace 
%XMI.element.att; 
%XMI.link.att; 
xmi.position CDATA ``н1'' 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн XMI.reference may be used to refer to data types not defined in нн> 
<!нн the metamodel нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT XMI.reference ANY > 
<!ATTLIST XMI.reference 
%XMI.link.att; 
> 
<!ATTLIST XMI 
xmlns:MOF CDATA #IMPLIED 

> 
<!ELEMENT XMI.any ANY > 
<!ATTLIST XMI.any 
%XMI.link.att; 
xmi.type CDATA #IMPLIED 
xmi.name CDATA #IMPLIED 
> 
<!ELEMENT MOF:Namespace.contents (MOF:ModelElement | MOF:Feature | 
MOF:Namespace | MOF:Constraint | 
MOF:Import | MOF:TypedElement | 
MOF:Tag | MOF:StructuralFeature | 
MOF:BehavioralFeature | 
MOF:MofAttribute | MOF:Reference | 
MOF:Operation | MOF:MofException | 
MOF:GeneralizableElement | 
MOF:Classifier | MOF:Package | 
MOF:Class | MOF:Association | 
MOF:DataType | MOF:Parameter | 
MOF:Constant | MOF:AssociationEnd | 
MOF:TypeAlias)* > 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Feature нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Feature.visibility EMPTY > 
<!ATTLIST MOF:Feature.visibility 
xmi.value (public_vis | protected_vis | private_vis) #REQUIRED 
> 
<!ELEMENT MOF:Feature.scope EMPTY > 
<!ATTLIST MOF:Feature.scope 
xmi.value (instance_level | classifier_level) #REQUIRED 
> 
<!ELEMENT MOF:Feature (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Feature.visibility | MOF:Feature.scope | 
XMI.extension | MOF:ModelElement.container | 
MOF:ModelElement.constraints)* > 
<!ATTLIST MOF:Feature 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
scope (instance_level | classifier_level) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 

<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Classifier нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Classifier (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:GeneralizableElement.visibility | 
MOF:GeneralizableElement.isAbstract | 
MOF:GeneralizableElement.isRoot | 
MOF:GeneralizableElement.isLeaf | 
XMI.extension | MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:GeneralizableElement.supertypes | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:Classifier 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
isAbstract (true | false) #IMPLIED 
isRoot (yes | no | dont_care) #IMPLIED 
isLeaf (yes | no | dont_care) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
supertypes IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Namespace нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Namespace (MOF:ModelElement.name | 
MOF:ModelElement.annotation | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:Namespace 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.StructuralFeature нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:StructuralFeature.multiplicity (MOF:Multiplicity) > 

<!ELEMENT MOF:StructuralFeature.isChangeable EMPTY > 
<!ATTLIST MOF:StructuralFeature.isChangeable 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:StructuralFeature (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Feature.visibility | 
MOF:Feature.scope | 
MOF:StructuralFeature.multiplicity | 
MOF:StructuralFeature.isChangeable | 
XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:TypedElement.type)* > 
<!ATTLIST MOF:StructuralFeature 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
scope (instance_level | classifier_level) #IMPLIED 
isChangeable (true | false) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
type IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.MofAttribute нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:MofAttribute.isDerived EMPTY > 
<!ATTLIST MOF:MofAttribute.isDerived 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:MofAttribute (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Feature.visibility | MOF:Feature.scope | 
MOF:StructuralFeature.multiplicity | 
MOF:StructuralFeature.isChangeable | 
MOF:MofAttribute.isDerived | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:TypedElement.type)* > 
<!ATTLIST MOF:MofAttribute 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
scope (instance_level | classifier_level) #IMPLIED 
isChangeable (true | false) #IMPLIED 
isDerived (true | false) #IMPLIED 
container IDREFS #IMPLIED 

constraints IDREFS #IMPLIED 
type IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Operation нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Operation.isQuery EMPTY > 
<!ATTLIST MOF:Operation.isQuery 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:Operation.exceptions (MOF:MofException)* > 
<!ELEMENT MOF:Operation (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Feature.visibility | MOF:Feature.scope | 
MOF:Operation.isQuery | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:Operation.exceptions | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:Operation 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
scope (instance_level | classifier_level) #IMPLIED 
isQuery (true | false) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
exceptions IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Class нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Class.isSingleton EMPTY > 
<!ATTLIST MOF:Class.isSingleton 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:Class (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:GeneralizableElement.visibility | 
MOF:GeneralizableElement.isAbstract | 
MOF:GeneralizableElement.isRoot | 
MOF:GeneralizableElement.isLeaf | 

MOF:Class.isSingleton | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:GeneralizableElement.supertypes | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:Class 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
isAbstract (true | false) #IMPLIED 
isRoot (yes | no | dont_care) #IMPLIED 
isLeaf (yes | no | dont_care) #IMPLIED 
isSingleton (true | false) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
supertypes IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.ModelElement нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:ModelElement.name (#PCDATA | XMI.reference)* > 
<!ELEMENT MOF:ModelElement.annotation (#PCDATA | XMI.reference)* > 
<!ELEMENT MOF:ModelElement.container (MOF:Namespace)* > 
<!ELEMENT MOF:ModelElement.constraints (MOF:Constraint)* > 
<!ELEMENT MOF:ModelElement (MOF:ModelElement.name | 
MOF:ModelElement.annotation | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints)* > 
<!ATTLIST MOF:ModelElement 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Package нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Package (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:GeneralizableElement.visibility | 
MOF:GeneralizableElement.isAbstract | 

MOF:GeneralizableElement.isRoot | 
MOF:GeneralizableElement.isLeaf | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:GeneralizableElement.supertypes | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:Package 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
isAbstract (true | false) #IMPLIED 
isRoot (yes | no | dont_care) #IMPLIED 
isLeaf (yes | no | dont_care) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
supertypes IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Constraint нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Constraint.expression (XMI.any)* > 
<!ELEMENT MOF:Constraint.language (#PCDATA | XMI.reference)* > 
<!ELEMENT MOF:Constraint.evaluationPolicy EMPTY > 
<!ATTLIST MOF:Constraint.evaluationPolicy 
xmi.value (immediate | deferred) #REQUIRED 
> 
<!ELEMENT MOF:Constraint.constrainedElts (MOF:ModelElement)* > 
<!ELEMENT MOF:Constraint (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Constraint.expression | 
MOF:Constraint.language | 
MOF:Constraint.evaluationPolicy | 
XMI.extension | MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:Constraint.constrainedElts)* > 
<!ATTLIST MOF:Constraint 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
language CDATA #IMPLIED 
evaluationPolicy (immediate | deferred) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
constrainedElts IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 

<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Association нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Association.isDerived EMPTY > 
<!ATTLIST MOF:Association.isDerived 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:Association (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:GeneralizableElement.visibility | 
MOF:GeneralizableElement.isAbstract | 
MOF:GeneralizableElement.isRoot | 
MOF:GeneralizableElement.isLeaf | 
MOF:Association.isDerived | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:GeneralizableElement.supertypes | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:Association 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
isAbstract (true | false) #IMPLIED 
isRoot (yes | no | dont_care) #IMPLIED 
isLeaf (yes | no | dont_care) #IMPLIED 
isDerived (true | false) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
supertypes IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Parameter нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Parameter.direction EMPTY > 
<!ATTLIST MOF:Parameter.direction 
xmi.value (in_dir | out_dir | inout_dir | return_dir) #REQUIRED 
> 
<!ELEMENT MOF:Parameter.multiplicity (MOF:Multiplicity) > 
<!ELEMENT MOF:Parameter (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Parameter.direction | 
MOF:Parameter.multiplicity | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 

MOF:TypedElement.type)* > 
<!ATTLIST MOF:Parameter 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
direction (in_dir | out_dir | inout_dir | return_dir) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
type IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.BehavioralFeature нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:BehavioralFeature (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Feature.visibility | 
MOF:Feature.scope | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:BehavioralFeature 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
scope (instance_level | classifier_level) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Import нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Import.visibility EMPTY > 
<!ATTLIST MOF:Import.visibility 
xmi.value (public_vis | protected_vis | private_vis) #REQUIRED 
> 
<!ELEMENT MOF:Import.importedNamespace (MOF:Namespace)* > 
<!ELEMENT MOF:Import (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Import.visibility | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:Import.importedNamespace)* > 
<!ATTLIST MOF:Import 
name CDATA #IMPLIED 

annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
importedNamespace IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.GeneralizableElement нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:GeneralizableElement.visibility EMPTY > 
<!ATTLIST MOF:GeneralizableElement.visibility 
xmi.value (public_vis | protected_vis | private_vis) #REQUIRED 
> 
<!ELEMENT MOF:GeneralizableElement.isAbstract EMPTY > 
<!ATTLIST MOF:GeneralizableElement.isAbstract 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:GeneralizableElement.isRoot EMPTY > 
<!ATTLIST MOF:GeneralizableElement.isRoot 
xmi.value (yes | no | dont_care) #REQUIRED 
> 
<!ELEMENT MOF:GeneralizableElement.isLeaf EMPTY > 
<!ATTLIST MOF:GeneralizableElement.isLeaf 
xmi.value (yes | no | dont_care) #REQUIRED 
> 
<!ELEMENT MOF:GeneralizableElement.supertypes 
(MOF:GeneralizableElement)* > 
<!ELEMENT MOF:GeneralizableElement (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:GeneralizableElement.visibility | 
MOF:GeneralizableElement.isAbstract | 
MOF:GeneralizableElement.isRoot | 
MOF:GeneralizableElement.isLeaf | 
XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:GeneralizableElement.supertypes | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:GeneralizableElement 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
isAbstract (true | false) #IMPLIED 
isRoot (yes | no | dont_care) #IMPLIED 
isLeaf (yes | no | dont_care) #IMPLIED 

container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
supertypes IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Constant нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Constant.constValue (XMI.any) > 
<!ELEMENT MOF:Constant (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Constant.constValue | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:TypedElement.type)* > 
<!ATTLIST MOF:Constant 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
type IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Reference нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Reference.referencedEnd (MOF:AssociationEnd)* > 
<!ELEMENT MOF:Reference (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Feature.visibility | MOF:Feature.scope | 
MOF:StructuralFeature.multiplicity | 
MOF:StructuralFeature.isChangeable | 
XMI.extension | MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:TypedElement.type | 
MOF:Reference.referencedEnd)* > 
<!ATTLIST MOF:Reference 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
scope (instance_level | classifier_level) #IMPLIED 
isChangeable (true | false) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
type IDREFS #IMPLIED 

referencedEnd IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.MofException нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:MofException (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:Feature.visibility | MOF:Feature.scope | 
XMI.extension | MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:MofException 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
scope (instance_level | classifier_level) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.DataType нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:DataType.typeCode ANY > 
<!ELEMENT MOF:DataType (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:GeneralizableElement.visibility | 
MOF:GeneralizableElement.isAbstract | 
MOF:GeneralizableElement.isRoot | 
MOF:GeneralizableElement.isLeaf | 
MOF:DataType.typeCode | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:GeneralizableElement.supertypes | 
MOF:Namespace.contents)* > 
<!ATTLIST MOF:DataType 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
visibility (public_vis | protected_vis | private_vis) #IMPLIED 
isAbstract (true | false) #IMPLIED 
isRoot (yes | no | dont_care) #IMPLIED 
isLeaf (yes | no | dont_care) #IMPLIED 
typeCode CDATA #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 

supertypes IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.AssociationEnd нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:AssociationEnd.multiplicity (MOF:Multiplicity) > 
<!ELEMENT MOF:AssociationEnd.aggregation EMPTY > 
<!ATTLIST MOF:AssociationEnd.aggregation 
xmi.value (none | shared | composite) #REQUIRED 
> 
<!ELEMENT MOF:AssociationEnd.isNavigable EMPTY > 
<!ATTLIST MOF:AssociationEnd.isNavigable 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:AssociationEnd.isChangeable EMPTY > 
<!ATTLIST MOF:AssociationEnd.isChangeable 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:AssociationEnd.otherEnd (MOF:AssociationEnd) > 
<!ELEMENT MOF:AssociationEnd (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:AssociationEnd.multiplicity | 
MOF:AssociationEnd.aggregation | 
MOF:AssociationEnd.isNavigable | 
MOF:AssociationEnd.isChangeable | 
MOF:AssociationEnd.otherEnd | 
XMI.extension | MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:TypedElement.type)* > 
<!ATTLIST MOF:AssociationEnd 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
aggregation (none | shared | composite) #IMPLIED 
isNavigable (true | false) #IMPLIED 
isChangeable (true | false) #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
type IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.TypedElement нн> 

<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:TypedElement.type (MOF:Classifier)* > 
<!ELEMENT MOF:TypedElement (MOF:ModelElement.name | 
MOF:ModelElement.annotation | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:TypedElement.type)* > 
<!ATTLIST MOF:TypedElement 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
type IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Multiplicity нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Multiplicity.lower (#PCDATA | XMI.reference)* > 
<!ELEMENT MOF:Multiplicity.upper (#PCDATA | XMI.reference)* > 
<!ELEMENT MOF:Multiplicity.isOrdered EMPTY > 
<!ATTLIST MOF:Multiplicity.isOrdered 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:Multiplicity.isUnique EMPTY > 
<!ATTLIST MOF:Multiplicity.isUnique 
xmi.value (true | false) #REQUIRED 
> 
<!ELEMENT MOF:Multiplicity (MOF:Multiplicity.lower | 
MOF:Multiplicity.upper | 
MOF:Multiplicity.isOrdered | 
MOF:Multiplicity.isUnique | XMI.extension)* > 
<!ATTLIST MOF:Multiplicity 
lower CDATA #IMPLIED 
upper CDATA #IMPLIED 
isOrdered (true | false) #IMPLIED 
isUnique (true | false) #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.TypeAlias нн> 
<!нн _______________________________________________________________ нн> 

<!ELEMENT MOF:TypeAlias.multiplicity (MOF:Multiplicity) > 
<!ELEMENT MOF:TypeAlias (MOF:ModelElement.name | 
MOF:ModelElement.annotation | 
MOF:TypeAlias.multiplicity | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | 
MOF:TypedElement.type)* > 
<!ATTLIST MOF:TypeAlias 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
type IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!нн _______________________________________________________________ нн> 
<!нн нн> 
<!нн CLASS: Mof.Model.Tag нн> 
<!нн _______________________________________________________________ нн> 
<!ELEMENT MOF:Tag.tagId (#PCDATA | XMI.reference)* > 
<!ELEMENT MOF:Tag.values (XMI.any) > 
<!ELEMENT MOF:Tag.elements (MOF:ModelElement)* > 
<!ELEMENT MOF:Tag (MOF:ModelElement.name | MOF:ModelElement.annotation | 
MOF:Tag.tagId | MOF:Tag.values | XMI.extension | 
MOF:ModelElement.container | 
MOF:ModelElement.constraints | MOF:Tag.elements)* > 
<!ATTLIST MOF:Tag 
name CDATA #IMPLIED 
annotation CDATA #IMPLIED 
tagId CDATA #IMPLIED 
container IDREFS #IMPLIED 
constraints IDREFS #IMPLIED 
elements IDREFS #IMPLIED 
%XMI.element.att; 
%XMI.link.att; 
> 
<!ELEMENT MOF:Mof (MOF:Model)* > 
<!ATTLIST MOF:Mof 
%XMI.element.att; 
%XMI.link.att; 
> 
<!ELEMENT MOF:Model (MOF:Feature | MOF:Classifier | MOF:Namespace | 
MOF:StructuralFeature | MOF:MofAttribute | 
MOF:Operation | MOF:Class | MOF:ModelElement | 
MOF:Package | MOF:Constraint | MOF:Association | 

MOF:Parameter | MOF:BehavioralFeature | MOF:Import | 
MOF:GeneralizableElement | MOF:Constant | 
MOF:Reference | MOF:MofException | MOF:DataType | 
MOF:AssociationEnd | MOF:TypedElement | 
MOF:Multiplicity | MOF:TypeAlias | MOF:Tag)* > 
<!ATTLIST MOF:Model 
%XMI.element.att; 
%XMI.link.att; 
>
